body{
  background-color: #d2e6ea;
}

#form1{
  border: 1px dashed black;
  border-radius: 5px;
  background-color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
